body {
  user-select: none;
}

#root {
  position: relative;
  padding: 5vh 0;
}

.cards-list {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 1vw;
}

.timer {
  text-align: right;
  font-size: 10vw;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.2s;
}

.timer--active {
  opacity: 1;
}

.top {
  align-items: center;
}

.card {
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  user-select: none;
  transition: transform 0.4s ease-in-out, box-shadow 0.2s ease-in-out,
    filter 0.2s ease-in-out, opacity 0.2s;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: rotateY(0);
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  background-color: rgb(209, 209, 209);
}

.card:hover {
  box-shadow: none;
}

.card::before {
  content: "";
  display: block;
  position: absolute;
  width: 102%;
  height: 102%;
  backface-visibility: hidden;
  background-color: #ff6f6f;
  border-radius: 0.25rem;
  z-index: 5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card--active {
  transform: rotateY(180deg);
  pointer-events: none;
  box-shadow: none;
}

.card--no-touch {
  pointer-events: none;
}

.card__title {
  font-size: 4vw;
  margin-bottom: 0;
  transform: scale(-1, 1);
  mix-blend-mode: difference;
  /* color: #fff; */
}

.status {
  text-align: center;
  margin-top: 2vw;
  font-weight: 900;
  font-size: 5vw;
  display: none;
}

.status--active {
  display: block;
}

.start-btn {
  font-size: 2vw;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
}

.input__feedback {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.input__feedback.active {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

#form.disable {
  opacity: 0.5;
  cursor: not-allowed;
  filter: grayscale(1);
}

#form.disable > * {
  pointer-events: none;
}

.winners {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 5rem 1rem 1rem 1rem;
  background-color: #fff;
  transform: translate(120%);
  transition: transform 0.2s ease-in-out;
  height: 100vh;
}

.winners__trigger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.winners--active {
  transform: translate(0);
}

.b-modal {
  position: fixed;
  padding: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-delay: 0.5s;
  border-radius: 0.5rem;
  background-color: #fff;
  opacity: 1;
  max-width: 740px !important;
}

.b-modal--hide {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.table__body-name span {
  width: 110px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: inline-block;
}
